<div class="container">
  <h4 class="monkey"><%=link_to "Search", welcome_path %></h4>
  <h3 class="monkey"><%= @borough %> | Showing: <%=@x+1%>-<%=@y+1%> | Total Lots: <%=@count%></h3>

  <p class="warning">
      <span>Loading Vacant Lots.....  Click on image for details</span>
  </p>

  <p id="vacant_lots">
    <% @lots.each do |lot| %>
      <img src="http://maps.googleapis.com/maps/api/streetview?size=350x200&amp;location=<%=lot.latitude%>,<%=lot.longitude%>&amp;sensor=false&key=<%=ENV["GOOG_API"]%>" alt="Address: <%= lot.address %> | BBL: <%= lot.bbl %> | Block: <%= lot.block %> | Lot: <%= lot.lot %> | Agency/Landowner: <%= lot.agency %> | Sqft: <%= lot.area_sqft %> | Acres: <%=lot.area_acres%> | Vacant: <%= lot.is_vacant %> | Accessible: <%= lot.accessible %>"> 
    <% end %>
  </p>

  <%= link_to 'Previous', results_path(:borough=>@borough,:x => @x-9) %>
  
  <%if @y<@count%>
    <%= link_to 'Next', results_path(:borough=>@borough,:x => @x+9) %>
  <%end%>
</div>