<h1> You selected <%= @borough %> </h1>
  <p class="warning">
      <span>Loading Vacant Lots!</span>
  </p>

  <p id="vacant_lots">
    <% @lots.each do |lot| %>
        <a href="http://maps.googleapis.com/maps/api/streetview?size=350x210&amp;location=<%=lot.latitude%>,<%=lot.longitude%>&amp;sensor=false&key=AIzaSyAHvAmqhx1HbRzZQQxzHeklG2g8_1Kt62I"><img src="http://maps.googleapis.com/maps/api/streetview?size=350x210&amp;location=<%=lot.latitude%>,<%=lot.longitude%>&amp;sensor=false&key=AIzaSyAHvAmqhx1HbRzZQQxzHeklG2g8_1Kt62I"></a>

      <!--     <blockquote>
        <li>
          Address: <%= lot.address %><br>
          BBL: <%= lot.bbl %><br>
          Agency/Landowner: <%= lot.agency %>
        </li>
      </blockquote>
      -->  
    <% end %>
  </p>

  <%= link_to 'Previous', results_path(:borough=>@borough,:x => @x-10) %>
  <%= link_to 'Next', results_path(:borough=>@borough,:x => @x+10) %>
